$color-brand: #0FBC5F; // #6190E8;
$color-brand-light: #4fb0fd;
$color-brand-dark: #1078ca;
$color-gray-c: #cccccc;
$color-gray-6: #666666;
$color-gray-9: #999999;
$color-gray-3: #333333;
$color-black: #000;
$color-text-1: #D8D8D8;
/* 引入 Taro UI 默认样式 */